* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #E1DEFC; */
    z-index: 100;
}

.img-container {
    position: relative;
    z-index: 10;
}

.layer1 {
    width: 40%;
    transform: rotate(45deg);
    margin-top: 2em;
    /* z-index: 12; */
}

.layer2 {
    position: absolute;
      top: 40%; left: 20%;
      transform: translate(-50%, -50%);
      z-index: -1;
}

.layer3 {
    position: absolute;
      top: 20%; left: 40%;
      transform: translate(-50%, -50%);
      z-index: -1;
}

.mini-left-box {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.one {
    margin: 15px 150px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    text-align: center;
    gap: 40px;
    background-color: aliceblue;
    padding: 15px 20px;
    border-radius: 20px;
}

.main-box {
    display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 30px;
  margin: 40px 0;
  /* column-count: 2; */
}

.two {
    margin: 15px 150px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    text-align: center;
    gap: 40px;
    background-color: aliceblue;
    padding: 15px 20px;
    border-radius: 20px;
}

.right-text {
    font-size: large;
}

.mini-right-box {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}