* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #E1DEFC; */
    z-index: 100;
}

h1 {
font-size: 36px;
line-height: 50px;
text-align: center;
}

.img-container {
    position: relative;
    z-index: 10;
}

.layer1 {
    width: 80%;
    transform: rotate(45deg);
    margin-top: 2em;
    margin-left: 5em;
}

.layer2 {
    position: absolute;
    top: 30%; left: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.layer3 {
    position: absolute;
    top: 15%; left: 80%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.mini-left-box {
    margin-top: -30%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    z-index: 2;
}

.one {
    size: 14px;
    display: grid;
    text-align: center;
    background-color: aliceblue;
    margin: 15px ;
    padding: 15px 10px;
    border-radius: 20px;
}

.main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 40px 0;
}

.two {
   size: 14px;
    display: grid;
    text-align: center;
    background-color: aliceblue;
    margin: 15px ;
    padding: 15px 10px;
    border-radius: 20px;
}

.right-text {
    font-family: Faber Sans Pro;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0%;

}

.mini-right-box {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}